#chat{
    position: fixed;
    bottom: 0;
    right: 25px;
    padding: 5px;
    background-color: orange;
    width: 130px;
    font-size: 1em;
    color: #000;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    padding: 5px;
    transition: opacity .3s;
    font-size: 13px;
    z-index: 333;
}

#chat span.fa-close {
    margin-right: 0px;
    transition: .3s;
}

#chat span.fa-close:hover {
    color: #fff;
}