body {
    background-image: url(../images/editar-perfil.jpg);
    background-attachment: fixed;
    background-size: 100%;
}

#contenedor {
    background-color: rgba(0,0,0,.5);
    padding-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px auto 25px;
    color: #fff !important;
    background-color: #1a1a1a;
    width: fit-content;
    border-radius: 5px;
    padding: 25px 25px 0px 25px;
}

form h1 {
    text-align: center;
    margin-bottom: 50px;
}

form h2 {
    margin: 25px 0;
}

form h3 {
    margin: 15px 0;
}

#sub-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.section-principal {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 15px;
}

.fila {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fila * {
    margin: 5px;
}

form textarea,
form input[type="text"],
form input[type="password"] {
    padding: 5px;
    border-radius: 5px;
    background-color: #2b2929;
    color: #fff;
    border: 1px solid transparent;
}

form input[type="text"],
form input[type="password"] {
    width: 150px;
}

form label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
}

.select {
    width: 200px;
    height: 35px;
}

.select select {
    width: 198px;
    height: 35px;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.enviar, #limpiar {
    padding: 10px;
    border: 2px solid rgba(255,255,255,.4);
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    transition: .3s;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    margin: 0px 5px;
}
.enviar:hover, #limpiar:hover {
	background-color: orange;
}