.pie-pagina {
    background-color: #1a1a1a;
}

.pie-pagina h2 {
    margin-bottom: 25px !important;
}

.footer-items {
    padding: 25px !important;
}

.icon-red {
    border-radius: 50%;
    background-color: #2d2d2d;
    font-size: 20px !important;
    transition: .3s;
}

#facebook {
    padding: 10px 14px !important;
}

#facebook:hover {
    background-color: #4267b2;
}

#twitter {
    padding: 10px 13px 10px 12px !important;
}

#twitter:hover {
    background-color: #00aced;
}

#whatsapp {
    padding: 10px 13px 10px 12px !important;
}

#whatsapp:hover {
    background-color: #189d0e;
}

.links-footer {
    color: #fff;
    transition: .5s;
}

.links-footer:hover {
    border-bottom: 1px dotted orange;
    color: orange;
}

.select, select {
    width: fit-content !important;
    height: 40px !important;
}