/* Iniciar sesión */

.form-modal {
    margin: auto;
}

.form-modal input[type="text"],
.form-modal input[type="password"] {
    padding: 5px;
    border-radius: 5px;
    background-color: #2b2929;
    color: #fff;
    border: 1px solid transparent;
}

#iniciarSesion input[type="text"],
#iniciarSesion input[type="password"] {
    width: 227px;
}

#registrate input[type="text"],
#registrate input[type="password"] {
    width: 204px;
}

#usuario-input {
    width: 121px !important;
}
/*
.form-modal ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}*/

.fila {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap !important;
    margin: auto;
}

.fila * {
    margin: 5px
}

.select {
    width: 204px;
    height: 30px;
}

.select select {
    width: 202px;
}

.boton-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 25px;
}

.boton-bottom button,
.boton-bottom input[type="reset"] {
    padding: 10px;
    border: 2px solid rgba(255,255,255,.4);
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    transition: .3s;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    margin: 0 5px;
}

.boton-bottom button:hover,
.boton-bottom input[type="reset"]:hover {
    background-color: orange;
}

.fa-check-circle {
    color: #080;
}