/* Oswald */

@font-face {
    src: url(../fonts/Oswald/Oswald-Regular.ttf);
    font-family: "Oswald";
}

/* Open Sans */

@font-face {
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
    font-family: "Open Sans";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

#contenedor {
    width: 100%;
}

.select {
    overflow: hidden;
    background-color: #2b2929;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: .3s;
    border-radius: 5px;
}

.select:hover {
    background-color: orange;
    color: #fff;
}

.select select {
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border: none;
}

.select select:hover {
    color: #fff;
}

.select select option {
    color: #fff;
    background-color: #2b2929;
}

input[type="text"],
input[type="password"] {
    padding: 5px;
    border-radius: 5px;
    background-color: #2b2929;
    color: #fff;
    border: none;
    transition: .3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    background-color: orange !important;
}

input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

input:focus::-webkit-input-placeholder {
    color: #fff !important;
}

input[type="file"] {
    cursor: pointer;
}