body {
    background-image: url(../images/vender.jpg);
    background-attachment: fixed;
    background-size: 100%;
}

#contenedor {
    background-color: rgba(0,0,0,.5);
    padding-top: 100px;
}

#vender-form {
	display: flex;
	justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px auto 25px;
    color: #fff !important;
    background-color: #1a1a1a;
    width: 80%;
    border-radius: 5px;
    padding: 25px;
    justify-content: center;
    opacity: 1;
}

#vender-form h1 {
    text-align: center;
    margin-bottom: 50px;
}

#vender-form h2 {
    margin-bottom: 25px;
}

.titulo-grande {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.titulo {
    display: flex;
    flex-direction: column;
    margin: 0 0px 50px;
    width: 50%;
    padding: 25px;
}

.fila {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#vender-form textarea,
#vender-form input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    background-color: #2b2929;
    color: #fff;
    border: 1px solid transparent;
}

#vender-form input[type="text"] {
    width: 200px;
}

#vender-form ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#vender-form label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
}

.select {
    width: 200px;
    height: 35px;
}

.select select {
    width: 198px;
    height: 35px;
}

.boton-enviar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#vender-form input[type="file"] {
    margin: 0px 0px 10px;
    padding: 5px;
    background-color: #2b2929;
    border-radius: 5px;
    transition: .3s;
    color: rgba(255, 255, 255, 0.5);
}

#vender-form input[type="file"]:hover {
    background-color: orange;
    color: #fff;
}

.enviar {
    padding: 10px;
    border: 2px solid rgba(255,255,255,.4);
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    transition: .3s;
    cursor: pointer;
    font-weight: bold;
    display: flex;
}
.enviar:hover{
	background-color: orange;
}